<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up for the Budget Tracker</title>
</head>
<body>
    <form method="post" class="sign-up-form" action="/register">
        <label for="username">Enter your username:</label>
        <input id="username" name="username" required>
        <label for="password">Enter your password: </label>
        <input id="password" name="password" type="password" required>
        <label for="cfm-password">Confirm your password: </label>
        <input id="cfm-password" name="cfm-password" type="password" required>
        <button type="submit">Confirm</button>
     </form>
</body>
</html>